<mat-card class="mtop20" *ngIf="user">
    <h2 class="mleft10 mtop10">Welcome to Profile</h2>
    <mat-card-content>
        
        <div class="bootstrap-wrapper">

            <div class="container">

                <!-- {{user | json}} -->
                <div class="container text-center ">
                    
                    <img mat-card-md-image text center src="../../../assets/defaultDp.jpg" class="profile-image"/>
                   
                    <h2> {{user.firstname}} {{user.lastname}}</h2>

                </div>

                 <!-- table details -->
                <div class="row">
                    <div class="col-md-10 offset-md-1">
                        <table class="table text-center">

                            <tr>
                                <td>Username:</td>
                                <td>{{user.username}}</td>
                            </tr>

                            <tr>
                                <td>Id:</td>
                                <td>{{user.userid}}</td>
                            </tr>
                            
                            <tr>
                                <td>Phone No:</td>
                                <td>{{user.phone}}</td>
                            </tr>

                            <tr>
                                <td>Email Id:</td>
                                <td>{{user.email}}</td>
                            </tr>

                            <tr>
                                <td>Role:</td>
                                <td>{{user.authorities[0].authority}}</td>
                            </tr>

                            <tr>
                                <td>Status:</td>
                                <td>{{user.enabled?"ACTIVE":"NOT ACTIVE"}}</td>
                            </tr>

                        </table>
                    </div>
                </div>
            </div>
        </div>

    </mat-card-content>

    <mat-card-actions>
        <div class="container text-center">
            <button mat-raised-button color="primary">Update</button>
            <!-- <button style="margin-left: 5px;" mat-raised-button color="accent">Reset</button> -->
        </div>
    </mat-card-actions>

</mat-card>
