<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row" style="margin-top: 20px; margin-bottom: 20px;">
            <div class="col-md-6 offset-md-3">


              <mat-card>

                <mat-card-header>
                  <!-- Logo and Heading -->
                  <div class="container text-center">
                    <img mat-card-sm-image text center src="../../../assets/logo.png" style="height: 85px; width: 100px;">
                    <mat-card-title>Welcome to Register Page</mat-card-title>
                  </div>
                </mat-card-header>



                <mat-card-content>
                  <!-- In form we need UserName, User Password, First Name, Last Name, Email, Phone No -->
                  <form (ngSubmit)="formSubmit()">

                    <mat-form-field class="full-width" appearance="outline" style="height: 65px;">
                        <mat-label>User Name</mat-label>
                        <input required
                        [(ngModel)]="user.username" name="username"
                        matInput placeholder="Enter Your Username">
                        <!-- <mat-hint>UserName should be unique</mat-hint> -->
                      </mat-form-field>


                      <mat-form-field class="full-width" appearance="outline" style="height: 65px;">
                        <mat-label>User Password</mat-label>
                        <input required
                        [(ngModel)]="user.password" name="password" type="password" 
                        matInput placeholder="Enter Your Password">
                      </mat-form-field>


                      <mat-form-field class="full-width" appearance="outline" style="height: 65px;">
                        <mat-label>First Name</mat-label>
                        <input required 
                        [(ngModel)]="user.firstname" name="firstname"
                        matInput placeholder="Enter Your first name">
                      </mat-form-field>


                      <mat-form-field class="full-width" appearance="outline" style="height: 65px;">
                        <mat-label>Last Name</mat-label>
                        <input required 
                        [(ngModel)]="user.lastname" name="lastname"
                        matInput placeholder="Enter Your last name">
                      </mat-form-field>


                      <mat-form-field class="full-width" appearance="outline" style="height: 65px;">
                        <mat-label>Email id</mat-label>
                        <input required 
                        [(ngModel)]="user.email" name="email"
                        type="email" matInput placeholder="Enter Your email">
                      </mat-form-field>


                      <mat-form-field class="full-width" appearance="outline" style="height: 65px;">
                        <mat-label>Phone Number</mat-label>
                        <input required
                        [(ngModel)]="user.phone" name="phone" type="number" 
                        matInput placeholder="Enter Your Number">
                      </mat-form-field>

                      <mat-card-actions>
                        <!-- Register and Cancel button  -->
                       <div class="container text-center">
                         <button type="submit" mat-raised-button color="primary">Register</button>
                         <button style="margin-left: 20px;" mat-raised-button color="accent">Clear</button>
                       </div>
                     </mat-card-actions>

                  </form>
                </mat-card-content>



               


              </mat-card>

                
               

                
            </div>

        </div>
    </div>

</div>
