<mat-card class="mtop20">
    <mat-action-list>

        <div mat-subheader>Menu</div>

        <button mat-list-item
        routerLink="/admin">
        <mat-icon mat-list-icon style="margin-right: 2px;">home</mat-icon>
            Home
        </button>

        <button mat-list-item 
        routerLink="/admin/profile">
        <mat-icon mat-list-icon style="margin-right: 2px;">account_circle</mat-icon>
            Proflie
        </button>

        <button mat-list-item 
        routerLink="/admin/categories">
        <mat-icon mat-list-icon style="margin-right: 2px;">category</mat-icon>
            Categories
        </button>

        <button mat-list-item 
        routerLink="/admin/add-category">
        <mat-icon mat-list-icon style="margin-right: 2px;">library_add</mat-icon>
            Add Categories
        </button>

        <button mat-list-item 
        routerLink="/admin/quizzes">
        <mat-icon mat-list-icon style="margin-right: 2px;">psychology_alt</mat-icon>
            Quizzes
        </button>

        <button mat-list-item 
        routerLink="/admin/add-quiz">
        <mat-icon mat-list-icon style="margin-right: 2px;">add_circle</mat-icon>
            Add Quiz
        </button>

        <mat-card-content class="mtop10">
            <b>Note:</b> 
            <br>
            For adding question you have to go 'All Question' button for particular Quiz and then 'Add Question'
        </mat-card-content>

        <!-- <button mat-list-item 
        [routerLink]="'/login'">
        <mat-icon mat-list-icon style="margin-right: 2px;">logout</mat-icon>
            Logout
        </button> -->
       

    </mat-action-list>
</mat-card>
